<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TestMapper">
    <select id="selectConfigList" resultType="com.study.pojo.TcProjectIotInfo">
        select
            c.product_id as channelId,p.model as carName,p.create_time as createTime,
            p.create_by as createBy,p.name as channelName,p.project_id as projectId,p.is_delete as isDelete,
            p.update_time as updateTime,c.wx_iot_channel as iotChannel
        from
            config c inner join tc_project p where c.product_id = p.channel_id
        and
            ((c.iot_policy = '1' and c.product_id != '720000') or c.iot_policy = '2')
        and p.is_delete = 0
    </select>


</mapper>
